<h1>Minions</h1>
<div class="main">
    <div class="minions">
        <h2>Minions:</h2>
        <ul>
            <li *ngFor="let minion of minions;">
                <div>
                    <h2>{{minion.name}}:</h2> 
                    <br><img src="{{minion.img}}" alt="{{minion.name}}" width="200px"> 
                    <a href="/minions/details/{{minion.id}}"><button>See details of {{minion.name}}</button></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="details">
        <router-outlet></router-outlet>
    </div>
</div>